@tailwind base;
@tailwind components;
@tailwind utilities;

.light-text {
  color: #fff;
}

.light-bg {
  @apply bg-gray-950;
}

.dark-text {
  color: black;
}

.dark-bg {
  @apply bg-gray-200;
}

.dark-bgg {
  @apply bg-white;
}

.light-bgg {
  @apply bg-gray-900;
}

.light-head-bg {
  background-color: #00000022;
}

.dark-head-bg {
  background-color: #ffffff22;
  backdrop-filter: 10px;
}
.herosection {
  background-image: url("/hero.jpeg");
  background-size: cover;
  background-position: center;
  padding: 3rem;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

h1 {
  color: white;
}

p {
  color: white;
}
